body
{
    margin: 0;
    background: #333333;
}

#assets
{
    display: none;
}

.center
{
    text-align: center;
}

.button-container{
}

input[type="button"] {
    background: black;
    color: #55ff55;
    border: #37B237 solid 2px;
}